@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

body {
    font-family: "Sora", sans-serif;
}

@theme {
    --color-primary: #FFC46B;
    --color-primary-hover: #FFAC2F;
    --color-hero: #FAE8CD;
    --color-secondary: #F8F8F8;
    --font-noto-serif: "Noto Serif", serif;
    --animate-dotPing: dotPing .5s ease-in infinite;

    @keyframes dotPing {
        0% {
            transform: scale(0.2);
            opacity: 0;
        } 
        100% {
            transform: scale(1.2);
            opacity: 1;
        }
    }
}

@layer components {
    .center {
        @apply flex items-center justify-center;
    }
    .hide-overflow-settings {
        -ms-overflow-style: none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .cta-btn {
        @apply bg-primary hover:bg-primary-hover cursor-pointer transition duration-200 font-semibold px-8 mt-8 py-4;
    }
    .about-p {
        @apply text-sm leading-6 text-black/80;
    }
    .about-h1 {
        @apply text-2xl md:text-3xl xl:text-4xl font-bold font-noto-serif;
    }
}