@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

body {
    font-family: "Sora", sans-serif;
}

@theme {
    --color-primary: #FFC46B;
    --color-hero: #FAE8CD;
    --color-light-gray: #F8F8F8;
    --font-noto-serif: "Noto Serif", serif;
}

@layer components {
    .center {
        @apply flex items-center justify-center;
    }
    .hide-overflow-settings {
        -ms-overflow-style: none;
    }
}